{% extends "base.html" %}

{% block title %}
    <title>about | Our first web app</title>
{% endblock title %}

{% block content %}
{% if name %}
    <p>Zdravo, {{ name }}</p>
{% endif %}
    <form method="post" action="/about">
        <input type="text" name="name" placeholder="Your name">
        <input type="text" name="email" placeholder="Your email">

        <textarea name="message" placeholder="Your message goes here"></textarea>

        <button type="submit">Submit</button>

    </form>
{% endblock content %}